<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /family-image-library/  # Adjust this to your subfolder path
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /family-image-library/index.html [L]  # Adjust this to your subfolder path
</IfModule>